apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-c-deploy
  labels:
    app: service-c
spec:
  replicas: 3
  selector:
    matchLabels:
      app: service-c
  template:
    metadata:
      labels:
        app: service-c
    spec:
      containers:
      - name: nginx
        image: elazarmeijers/api-app-a:v12
        imagePullPolicy: Always
        ports:
        - containerPort: 8081
        env:
        - name: DB_HOST
          value: "headless-svc-mysql"
        - name: DB_USER
          value: "root"
        - name: DB_PASSWORD
          value: "password"
        - name: DB_NAME
          value: "weather_db"