apiVersion: v1
kind: Service
metadata:
  name: headless-svc-mysql
  labels:
    app: mysql
spec:
  clusterIP: None
  type: ClusterIP
  ports:
  - port: 3306
    name: websql
  selector:
    app: mysql